#Secret
serviceAccountKey.json

#Python
__pycache__
*.pyc
venv/

# Firebase Emulator logs
firebase-debug.log
firebase-debug.*.log
firestore-debug.log

#Bruno metadata
api_tests/Infinite_Vocab_Backend/bruno.json
